
<div class="container">
    {{> wallet_nav }}
	<form class="form-signin">
		<script src="https://js.paystack.co/v1/inline.js"></script>
		<h2 class="form-signin-heading">Fund Wallet</h2>
		<input onkeyup="verify()" type="text" id="amount" value="0" name="amount" placeholder="amount" class="form-control" required>
		<button id="submit" name="submit" type="button" class="btn btn-lg btn-primary btn-block" onclick="call()"> Pay </button>
	</form>
</div>
 
<script>
	$(() => {
		// Disable function
		jQuery.fn.extend({
			disable: function(state) {
				return this.each(function() {
					this.disabled = state;
				});
			}
		});

		$('#submit').disable(true);
	});

	function verify(){
		let enable = false;
		let amount = parseInt($('#amount').val(), 10);
		enable = amount > 0 ? false : true;
		$('#submit').disable(enable);
	}

	function call(){
		let am = parseInt($('#amount').val(), 10);
		payWithPaystack(am * 100);
		$('#submit').disable(true);
	}

	function payWithPaystack(amount){
		var handler = PaystackPop.setup({
			key: 'pk_test_12f7f084eaae304fcc2cd7993ba67143888232ee',
			email: '{{ user.email }}',
			firstname: '{{ user.first_name }}',
			lastname: '{{ user.last_name }}',
			phone: '{{ user.phone }}',
			amount: amount,
			reference: 'FUND YOUR WALLET',
			callback: function(response) {
				//create a tramsaction
				let body = {
					details : response,
					operation: 2,
					transaction_type: 0
				};

				$.post('http://localhost:3000/wallet/create-transaction', body);
				$('#amount').val('');
				setTimeout( () => { window.location = '/wallet' }, 2000);
			}
		});
		handler.openIframe();
	}
</script>