<div class="container">
	<form class="form-signin">
        <div id="balance" name="balance" hidden>{{ wallet.balance }}</div> 
		<h2 class="form-signin-heading">Withdraw Money</h2>

	    <h5> Balance: {{ wallet.balance }}<h5>
        <input type="text" id="amount" name="amount" placeholder="amount" class="form-control" required>

		<button type="button" class="btn btn-lg btn-primary btn-block" onclick="call()"> Pay </button>
	</form>
</div>

<script>
    $(() => {
        

    });

    function call(){
		let amount  = parseInt($('#amount').val(), 10);
		let balance = parseInt($('#balance').html(), 10);

        console.log(amount + " " + balance);
	}
</script>