<header class="header {{classString}}">
	<div class="container container--space-between">
		<div class="header__logo">Kornet</div>
		<nav>
			<ul class="header__nav">
				<li><a href="#">Register</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Support</a></li>
			</ul>
		</nav>
	</div>
</header>