<header class="header {{classString}}">
	<div class="container container--space-between">
		<div class="header__logo header--left">Kornet</div>
		<div class="header--middle">
			<div class="search__bar">
				<input class="search__text" type="text" placeholder="Search">
				<button class="search__icon-wrap">
					<div class="search__icon"></div>
				</button>
			</div>
		</div>
		<nav>
			<ul class="header__nav header--right">
				<li><a class="avatar avatar--sm" style="background-color: #eee; background-image: url(https://unsplash.it/50/50/?random)" href="#"></a></li>
			</ul>
		</nav>
	</div>
</header>