<aside class="sidebar">
	<div class="sidebar__group">
		<div class="sidebar__group-item">
			<button class="btn btn--grey btn--full">Compose</button>
		</div>
	</div>
	<ul class="sidebar__group">
		<li class="sidebar__group-item sidebar__group-item--active"><a href="/mail/inbox">Inbox</a></li>
		<li class="sidebar__group-item"><a href="/mail/sent">Sent mail</a></li>
		<li class="sidebar__group-item"><a href="">Favourites</a></li>
		<li class="sidebar__group-item"><a href="/mail/drafts">Drafts</a></li>
		<li class="sidebar__group-item"><a href="/mail/trash">Trash</a></li>
		<li class="sidebar__group-item"><a href="">Categories</a></li>
		 {{!--<li class="sidebar__group-item"><a href="">Government</a></li>
		<li class="sidebar__group-item"><a href="">Promos</a></li>
		<li class="sidebar__group-item"><a href="">Purchase</a></li> --}}
		<li class="sidebar__group-item"><a href="">Settings</a></li>
		<li class="sidebar__group-item"><a href="">Help</a></li>
	</ul>
</aside>
