<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/controller/" >Home</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/controller/create-batch" >New Batch Users</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/controller/create" >New Telco User</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/controller/logout" >Logout</a>
    </div>
</div>