<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/controller/" >Home</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/controller/create-batch" >New Batch Users</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/controller/create" >Telco Users</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/controller/logout" >Logout</a>
    </div>
</div>