<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/wallet/" >Wallet Dashboard</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/wallet/fund" >Fund Wallet</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/wallet/send" >Send Money</a>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="/wallet/cashout" >Cashout</a>
    </div>
</div>