<div class="container">
    <div class="list-group">
    {{# each messages }}
        <a href="/mail/edit/{{this._id}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{this.subject}}</h4>
            <p class="list-group-item-text"> To: {{this.to.text}}</p>
            <p class="list-group-item-text"> Date: {{this.date}}</p>
        </a>
    {{/each}}
    </div>
</div>
<script>
    $(() => {
        getDrafts();
    });
</script>