{{> mailHeader classString="header--purple" }} {{> sidebar}}
<div class="inbox">
    <div class="msg-group">
        <div class="msg-group__header">
            <div class="msg-group__header-title">Today</div>
        </div>
        <div id="messages">
           
        </div>
    </div>

    <div class="msg-group">
      
    </div>
</div>
<script>
{{# ifCond mailbox '==' 'inbox' }}
    getInbox();
{{else}}
    getSent();
{{/ifCond}}
</script>