
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--&lt;!&ndash; The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags &ndash;&gt;-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->
    <!--<link rel="icon" href="favicon.ico">-->

    <!--<title>Kornet</title>-->

    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
    <!--<link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">-->

<!--</head>-->

<!--<body>-->

<!--<div class="site-wrapper">-->

    <!--<div class="site-wrapper-inner">-->

        <!--<div class="cover-container">-->

            <!--<div class="masthead clearfix">-->
                <!--<div class="inner">-->
                    <!--<h3 class="masthead-brand">Cover</h3>-->
                    <!--<nav>-->
                        <!--<ul class="nav masthead-nav">-->
                            <!--{{# if user }}-->
                                <!--<li><a href="/mail">Mail</a></li>-->
                                <!--<li><a href="/chat">Chat</a></li>-->
                                <!--<li><a href="/profile">Profile</a></li>-->
                                <!--<li><a href="/wallet">Wallet</a></li>-->
                                <!--<li><a href="/logout">Logout</a></li>-->
                            <!--{{else}}-->
                            <!--<li><a href="/signin">Login</a></li>-->
                            <!--<li><a href="/signup">Register</a></li>-->
                            <!--{{/if}}-->
                        <!--</ul>-->
                    <!--</nav>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="inner cover">-->
                <!--<h1 class="cover-heading">Kornet.</h1>-->
                <!--<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>-->
                <!--<p class="lead">-->
                    <!--<a href="#" class="btn btn-lg btn-default">Learn more</a>-->
                <!--</p>-->
            <!--</div>-->

            <!--<div class="mastfoot">-->
                <!--<div class="inner">-->
                    <!--<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->

<!--</div>-->

<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->

{{> header classString='header--dark-purple' }}
<div class="page page--dark-purple">
    <div class="dashboard-icons">
        <a href="/mail">
            <div class="dashboard-icon dashboard-icon--mail">
                <span class="dashboard-icon__notification">23</span>
            </div>
        </a>
        <a href="/profile">
            <div class="dashboard-icon dashboard-icon--contacts"></div>
        </a>
        <a href="/wallet">
            <div class="dashboard-icon dashboard-icon--wallet"></div>
        </a>
        <a href="/chat">
            <div class="dashboard-icon dashboard-icon--chat"></div>
        </a>
    </div>
</div>
