doctype html
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
		link(href='/stylesheets/main.css', rel='stylesheet', media='screen')
		link(href='/stylesheets/font-awesome.min.css', rel='stylesheet', media='screen')
		script(src='http://code.jquery.com/jquery.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/main.js')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js')
	body
		#wrapper
			#sidebar-wrapper
				ul.sidebar-nav
					li.sidebar-brand
					if (user)
						#{user.username}
					else
						Some Web Mail Client
					li
						a(href='/') Home
					if (user || messages)
						li
							a(href='/users/inbox') Inbox
						li
							a(href='/users/sent') Sent
						block side
			.container
				block content
