extends layout

block content
	.container
		h1 Send Mail
		form(role="form", enctype="multipart/form-data", method="post")
			.form-group
				label(label-for="sender")
					| Sender
				input.form-control(type='text', value="#{user.email}" name="sender")
			.form-group
				label(label-for="recipient")
					| Recipients
				input.form-control(type='text', name="recipient", placeholder='foobar@zee.com, "Ray Tuk" <see@saw.com>')
			.form-group
				label(label-for="cc")
					| Cc
				input.form-control(type='text', name="cc", placeholder='foo@bar.com, "Jude Dike" <mon@day.com>')
			.form-group
				label(label-for="bcc")
					| Bcc
				input.form-control(type='text', name="bcc", placeholder='wa@wu.com, "Ismail Shomala" <public@holiday.com>')
			.form-group
				label(label-for="subject")
					| Subject
				input.form-control(type='text', name="subject" placeholder='Subject')
			.form-group
				textarea.form-control(rows='5', cols='40', name="content", placeholder='Content')
			.form-group
				input.form-control(type="file", name="attachment", value="attachment")
			.container-fluid
				button.btn.btn-success(type="submit" name="send", formaction="/users/send/0") Send Mail &nbsp;
				button.btn.btn-default(type="submit" name="save", formaction="/users/save/0") Save Draft &nbsp;