<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">First Sign In</h1>
        {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <div id="error" class="alert alert-danger" hidden></div>

        <div id="forgot-pane">
            <form id="choose_username_form" action="/verify_user" method="post">
                <div class="col-md-12">
                    <p>PLEASE CHOOSE USERNAME</p>
                    <div id="username_field" class="form-group ">
                        <input type="text" name="username" id="username_id" placeholder="Username" class="form-control">
                        <input type="hidden" name="phone" id="phone_id" value="{{phone}}" class="form-control"/>
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    </div>
                    <p>PLEASE CHOOSE A NEW PASSWORD</p>
                    <div id="password_field" class="form-group">
                        <input type="password" name="password" id="password_id" placeholder="New Password" class="form-control">
                    </div>
                    <div id="confirm_password_field" class="form-group">
                        <input type="password" name="confirm_password" id="confirm_password_id" placeholder="Confirm Password" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" onclick="verify_user()" name="password" class="btn btn-primary btn-block">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function verify_user() {
        let password_id = $('#password_id').val();
        let confirm_password_id = $('#confirm_password_id').val();

        if(password_id == '' || confirm_password_id == ''){
            error_div.html("Passwords fields cannot be empty");
            error_div.show();
        }
        else if(password_id != confirm_password_id){
            error_div.html("Passwords fields do not match");
            error_div.show();
        }
        else{
            $('#choose_username_form').submit();
        }
    }
</script>
