<div class="page page--grey">
    {{> header classString="header--purple" }}
    <div class="container container--sm">
        <form id="signin-form" class="form form--login" action="/signin" method="post">
            <h1 class="form__title">Welcome back!</h1>
            {{# if hasErrors}}
                <div class="alert alert-danger">
                    {{# each messages}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
            <div class="form__group">
                <label class="form__label sr-only">Username</label>
                <input type="text" name="username" class="form__input" placeholder="Username" required/>
            </div>
            <div class="form__group">
                <label class="form__label sr-only">Password</label>
                <input name="password" id="password" type="password" class="form__input" placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="form__action">
                <button type="submit" class="btn btn--full">Login</button>
            </div>

            <div class="form__footer">New to Kornet? <a href="/signup" data-navigo>Create an account</a></div>
        </form>
    </div>
</div>

<script>
    $('#signin-form').submit(function () {
        // Get the Login Name value and trim it
        var name = $('[name="username"]').val();
        if (name.match("^0")) {
            name = name.replace("0", "+234");
            //fixed_numbers.push(number);
            console.log(name);
        }
        if (name.match("^234")) {
            name = name.replace("234", "+234");
            //fixed_numbers.push(number);
            console.log(name);
        }

        $('[name="username"]').val(name);
    });
</script>