<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign In</h1>
        {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form id="signin-form" action="/signin" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter Username" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password " class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up instead!!</a></p>
        <p><a href="/forgot">Password Recovery</a></p>
    </div>
</div>

<script>
    $('#signin-form').submit(function () {
        // Get the Login Name value and trim it
        var name = $('[name="username"]').val();
        if (name.match("^0")) {
            name = name.replace("0", "+234");
            //fixed_numbers.push(number);
            console.log(name);
        }
        if (name.match("^234")) {
            name = name.replace("234", "+234");
            //fixed_numbers.push(number);
            console.log(name);
        }

        $('[name="username"]').val(name);
    });
</script>