<div class="page page--grey">
    {{> header classString="header--purple" }}
    <div class="container container--sm">
        <form id="signup-form" method="post" class="form form--login" action="/signup">
            <h1 class="form__title">Sign up</h1>
            <!--<div class="form__group form__group--split">-->
                <!--<div class="form__group">-->
                    <!--<label class="form__label sr-only">First name</label>-->
                    <!--<input type="email" class="form__input" placeholder="First name">-->
                <!--</div>-->
                <!--<div class="form__group">-->
                    <!--<label class="form__label sr-only">Last name</label>-->
                    <!--<input type="email" class="form__input" placeholder="Last name">-->
                <!--</div>-->
            <!--</div>-->
            <div class="form__group">
                <label class="form__label sr-only">Username</label>
                <input type="text" name="username" placeholder="Username" onblur="Ourfunction()" class="form__input" required/>
                <input type="hidden" name="email" class="form-control"/>
            </div>
            <div class="form__group">
                <label class="form__label sr-only">Password</label>
                <input type="password" name="password" id="password" class="form__input" placeholder="Password" required>
            </div>
            <div class="form__group">
                <label class="form__label sr-only">Confirm password</label>
                <input type="password" name="password2" id="password2" class="form__input" placeholder="Confirm Password" required>
            </div>
            <div class="form__group">
                <label class="form__label sr-only">Gender</label>
                <div class="form__select">
                    <select name="gender">
                        <option selected disabled>Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label sr-only">Phone number</label>
                <input type="phone"  name="phone" class="form__input" placeholder="Phone number" required>
            </div>
            <div class="form__group">
                <label class="form__label sr-only">Network provider</label>
                <div class="form__select">
                    <select name="network_provider" required>
                        <option selected disabled>Network provider</option>
                        <option>Airtel</option>
                        <option>Etisalat</option>
                        <option>Glo</option>
                        <option>MTN</option>
                        <option>ntel</option>
                    </select>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label sr-only">Security Question</label>
                <div class="form__select">
                    <select name="question" required>
                        <option selected disabled>Security Question</option>
                        <option value="What is the first name of the person you kissed">What is the first name of the person you kissed</option>
                        <option value="In what city or town does your nearest sibling work">In what city or town does your nearest sibling work</option>
                        <option value="What is the name of your primary school">What is the name of your primary school</option>
                        <option value="Where did you write your first Jamb examination">Where did you write your first Jamb examination</option>
                        <option value="In what city does your closest family member live">In what city does your closest family member live</option>
                    </select>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label sr-only">Security Answer</label>
                <input type="text" name="answer" placeholder="Security Answer" class="form__input" required>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="form__action">
                <button type="submit" class="btn btn--full">Verify</button>
            </div>
            <div class="form__footer">Already have an account? <a href="/signin" data-navigo>Sign in</a></div>
        </form>
    </div>
</div>



<!--<div class="row">-->
    <!--<div class="col-md-8 col-md-offset-2">-->
        <!--<h1>Sign Up</h1>-->
        <!--{{# if hasErrors}}-->
            <!--<div class="alert alert-danger">-->
                <!--{{# each messages}}-->
                    <!--<p>{{this}}</p>-->
                <!--{{/each}}-->
            <!--</div>-->
        <!--{{/if}}-->
        <!--<form id="signup-form" action="/signup" method="post">-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<label for="username">Username</label>-->
                    <!--<input type="text" name="username" placeholder="Enter Username" onblur="Ourfunction()" class="form-control" required/>-->
                    <!--<input type="hidden" name="email" class="form-control"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<label for="phone">Phone Number</label>-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon" id="basic-addon1">+234</span>-->
                        <!--<input type="text" name="phone" class="form-control" placeholder="Phone Number" aria-describedby="basic-addon1">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon">-->
                          <!--<label>Male-->
                            <!--<input type="radio" value="M" name="gender"/>-->
                          <!--</label>-->
                        <!--</span>-->
                        <!--<span class="input-group-addon">-->
                          <!--<label>Female-->
                            <!--<input type="radio" value="F" name="gender"/>-->
                          <!--</label>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<select name="network_provider"  data-width="fit" class="form-control">-->
                        <!--<option value="MTN">MTN</option>-->
                        <!--<option value="Airtel">Airtel</option>-->
                        <!--<option value="Etisalat">Etisalat</option>-->
                        <!--<option value="Glo">Glo</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<select name="question" class="form-control">-->
                        <!--<option value="What is the first name of the person you kissed">What is the first name of the person you kissed</option>-->
                        <!--<option value="In what city or town does your nearest sibling work">In what city or town does your nearest sibling work</option>-->
                        <!--<option value="What is the name of your primary school">What is the name of your primary school</option>-->
                        <!--<option value="Where did you write your first Jamb examination">Where did you write your first Jamb examination</option>-->
                        <!--<option value="In what city does your closest family member live">In what city does your closest family member live</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" name="answer" placeholder="Security Answer" class="form-control"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<label for="password">Password</label>-->
                    <!--<input type="password" name="password" id="password " class="form-control">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                    <!--<label for="password2">Confirm Password</label>-->
                    <!--<input type="password" name="password2" id="password2" class="form-control">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-12">-->
                <!--<input type="hidden" name="_csrf" value="{{ csrfToken }}">-->
                <!--<button type="submit" class="btn btn-primary">Sign Up</button>-->
            <!--</div>-->
        <!--</form>-->

    <!--</div>-->
<!--</div>-->

<script type="application/javascript">
    $('#signup-form').submit(function () {
        // Get the Login Name value and trim it
        var name = $('[name="username"]').val();
        name = name.toLowerCase();
        var phone = "+234"+$('[name="phone"]').val();
        var email = name+"@{{ domain }}";

        $('[name="phone"]').val(phone);
        $('[name="email"]').val(email);
        $('[name="username"]').val(name);

        console.log(email);
        console.log(phone);
        console.log(name);

        // Check if empty of not
        if (name === '') {
            return false;
        }
    });

    function Ourfunction() {
        var name = $('[name="username"]').val();
        name = name.toLowerCase();
        $('[name="username"]').val(name);

        console.log(name);
    }
</script>

<script>
    var picker = new Pikaday({
        field: document.getElementById('birthday'),
        format: 'D MMM YYYY',
        maxDate: moment().subtract(18, 'years').toDate(),
        defaultDate: moment().subtract(18, 'years').toDate()
    });
</script>