<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Accounts have been created</p>
        <p>Default Passwords: <strong>{{pass}}</strong></p>
        <p>Admin: <strong>{{admin}}</strong></p>
    </div>
</div>

<script type="application/javascript">

</script>