<div class="container">
    <div class="list-group">
    {{# each message }}
        <a href="/users/edit/{{this._id}}" class="list-group-item"></a>
        <h4 class="list-group-item-heading">{{this.subject}}</h4>
        <p class="list-group-item-text"> To: {{this.to.text}}</p>
        <p class="list-group-item-text"> Date: {{this.date}}</p>
    {{/each}}
    </div>
</div>
