extends layout

block content
	.container
		.list-group
		each message in messages
			a.list-group-item(href="/users/trash/#{message._id}")
				h4.list-group-item-heading #{message.subject}
				p.list-group-item-text To: #{message.to.text}
				p.list-group-item-text Date: #{message.date}